ARG TARGETARCH
COPY ${TARGETARCH}/env /opt/env
ENV DEBIAN_FRONTEND=noninteractive

RUN set -eux; \
    apt update; \
    apt-get install -y --no-install-recommends curl ca-certificates p11-kit; \
    . /opt/env; \
    curl -LsfS -o /tmp/openjdk.tar.gz "${BINARY_URL}"; \
    echo "${ESUM} */tmp/openjdk.tar.gz" | sha256sum -c -; \
    mkdir -p "$JAVA_HOME"; \
    tar --extract \
        --file /tmp/openjdk.tar.gz \
        --directory "$JAVA_HOME" \
        --strip-components 1 \
        --no-same-owner \
    ; \
    {%- if ver == 8 %}
    rm -f /tmp/openjdk.tar.gz{% if image_type == "jdk" %} ${JAVA_HOME}/src.zip{% endif %}; \
    {%- else %}
    rm -f /tmp/openjdk.tar.gz{% if image_type == "jdk" %} ${JAVA_HOME}/lib/src.zip{% endif %}; \
    rm -rf /var/lib/apt/lists/*; \
    {%- endif %}
    find "$JAVA_HOME/lib" -name '*.so' -exec dirname '{}' ';' | sort -u > /etc/ld.so.conf.d/docker-openjdk.conf; \
    {% if version|int >= 11 -%}
    ldconfig; \
    # https://github.com/docker-library/openjdk/issues/212#issuecomment-420979840
    # https://openjdk.java.net/jeps/341
    java -Xshare:dump;
    {% else -%}
    ldconfig;{% endif %}